.screen {
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 2.5vh;
}

.screen-h1 {
  font-weight: 700;
  font-size: 1.5em;
}

.screen-h2 {
 padding-top: 0.5em;
 padding-bottom: 0.5em;
 font-size: 0.75em;
 font-weight: 100;
}

.our-work {
  background-color: #de2b24;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-work h2 {
  margin-bottom: 1em;
}

.white-line {
  background-color: white;
  height: 0.2em;
  width: 3em;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 116vh;
  margin-top: 4vh;
}

.cards-container-left, .cards-container-right {
  display: flex;
  flex-flow: row wrap;
}

.card {
  min-width: 29vh;
  min-height: 29vh;
  background-color: #f35e59;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.card:hover {
  transform: scale(1.05);
  transition-duration: 100ms;
}

.works-project-name-container img {
  height: 14%;
  width: 14%;
}

.works-project-name-container:hover{
  background-color: #f8928e;
}

.card h1 {
  font-size: 1em;
  font-weight: 500;
  margin-top: 12%;
  margin-bottom: 4%;
}

.card h2 {
  font-size: 0.6em;
  font-weight: 500;
}

.works-photo-container { 
  background-size: cover;
  background-position: center;
}

.photo1 {
  background-image: url('../photos/photo1.jpg');
}

.photo3 {
  background-image: url('../photos/photo3.png');
}

.photo5 {
  background-image: url('../photos/photo5.jpg');
}

.photo7 {
  background-image: url('../photos/photo7.jpg');
}

.facebook-analysis {
  background-color: #1287bf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.open-icon {
  width: 5%;
  height: auto;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: 1em;
  margin-bottom: 2.7em;
}

.open-icon:after {
  content: "";
  display: block;
  padding-bottom: 40%;
}

.open-icon:hover {
  transform: scale(1.05);
  transition-duration: 100ms;
  border: 3px solid white;
}

.corner {
  width: 30%;
  border: 2px solid white;
  transform: rotate(45deg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  border-left: 0;
  border-top: 0;
}

.corner:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.form {
  background-color: white;
  width: 50vw;
  height: 50vh;
  color: #828282;
  font-size: 1.5vw;
  font-family: 'Inter', sans-serif;
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.rectangle {
  background-color: white;
  width: 12%;
  height: auto;
  transform: rotate(45deg);
  z-index: 1;
  position: absolute;
  margin-left: -6%;
  left: 50%;
}

.rectangle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.close-button {
  position: absolute;
  z-index: 6;
  width: 3vw;
  border-radius: 50%;
  background-color: #de2b24;
  left: 75%;
  margin-left: -1.5%;
  margin-top: -1.5%;
  color: white;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
}

.close-button p {
  margin-top: 0.75vw;
  left: auto;
  right: auto;
}

.close-button:after{
  content: "";
  display: block;
  padding-bottom: 40%;
}

.close-button:hover {
  transform: scale(1.05);
  transition-duration: 100ms;
  border: 1px solid white;
}

.close-button:focus {
  outline: none;
  border: 1px solid white;
  box-shadow: 0 0 3px #de2b24;
}

.form p {
  position: relative;
  z-index: 5;
  width: 80%;
  font-size: 0.6em;
  font-weight: 300;
}

.facebook-inputs {
  width: 65%;
}

.facebook-inputs input {
  position: relative;
  z-index: 5;
  display: block;
  width: 100%;
  height: 3em;
  padding-left: 3%;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  color: #828282;
  font-size: 0.6em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d8d8d8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d8d8d8;
}

input:hover {
  border: 1px solid #1287bf;
}

input:focus {
  outline: none;
  border: 1px solid #1287bf;
  box-shadow: 0 0 3px #1287bf;
}

.submit-button {
  position: relative;
  z-index: 5;
  width: 23%;
  height: 10%;
  color: white;
  background-color: #de2b24;
  border: none;
  border-radius: 4px;
  font-size: 0.6em;
  font-weight: 700;
}
.submit-button:hover {
  transform: scale(1.05);
  transition-duration: 100ms;
}

.submit-button:focus {
  outline: none;
  border: 1px solid white;
  box-shadow: 0 0 3px #de2b24;
}

.get-in-touch {
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 25vh;
  padding-bottom: 25vh;
  box-sizing: border-box;
}

.social-networks-wrapper {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-networks-wrapper button
{
  width: 7vh;
  height: 7vh;
  background-color: #2a2a2a;
  border: 2px solid #515151;
  border-radius: 2px;
  padding-top: 0.8vh;
}


.social-networks-wrapper button:hover {
  border: 1px solid #de2b24;
}

.social-networks-wrapper button:focus {
  outline: none;
  border: 1px solid #de2b24;
  box-shadow: 0 0 3px #de2b24;
}

.social-networks-wrapper button img
{
  height: 4.5vh;
  width: auto;
}

.email-input {
  width: 50%;
  height: 3.5em;
  background-color: #515151;
  color: #d8d8d8;
  border: none;
  border-radius: 2px;
  padding-left: 3%;
}

.subscribe-button {
  background-color: #515151;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  width: 12%;
  height: 3em;
  color: white;
  min-width: 100px;
  font-size: 0.75em;
}

.subscribe-button:hover {
  box-shadow: 0 0 3px #d8d8d8;
}

.subscribe-button:focus {
  outline: none;
  border: 1px solid #d8d8d8;
  box-shadow: 0 0 5px #d8d8d8;
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: #515151;
  color: #d8d8d8;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 1em;
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: #515151;
  text-align: center;
  color: #d8d8d8;
  line-height: 10vh;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 1em;
}


@media (max-aspect-ratio: 3/2) {

  .screen {
    font-size: 2.5vw;
  }

  .form {
    font-size: inherit;
  }

  .social-networks-wrapper {
    width: 30vw;
  }

  .facebook-inputs input {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@media (max-aspect-ratio: 5/4) {
  .cards-container {
    max-width: 88vw;
    margin-top: 4vh;
  }

  .card {
    min-width: 22vw;
    min-height: 22vw;
  }

  .social-networks-wrapper {
    width: 40vw;
  }
}

@media (max-aspect-ratio: 10/13) {
  .our-work {
    height: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    box-sizing: border-box;
    align-items: center;
  }

  .cards-container {
    flex-wrap: wrap;
  }

  .cards-container-left, .cards-container-right {
    max-width: 60vw;
  }

  .card {
    min-width: 30vw;
    min-height: 30vw;
  }

  .screen {
    font-size: 3.5vw;
  }

  .form {
    font-size: inherit;
  }

  .submit-button {
    width: 35%;
  }

  .social-networks-wrapper {
    width: 50vw;
  }
}
